# This is base config

[base]
    debug_mode="debug"
    time_location="Asia/Chongqing"
    cluster_url="http://127.0.0.1:8880"

[http]
    addr = ":8880"                       # 监听地址, default ":8700"
    read_timeout = 10                   # 读取超时时长
    write_timeout = 10                  # 写入超时时长
    max_header_bytes = 20               # 最大的header大小，二进制位长度

[log]
    log_level = "trace"         #日志打印最低级别
    [log.file_writer]           #文件写入配置
        on = true
        log_path = "./logs/gin-mysqlbak.inf.log"
        rotate_log_path = "./logs/gin-mysqlbak.inf.log.%Y%M%D%H"
        wf_log_path = "./logs/gin-mysqlbak.wf.log"
        rotate_wf_log_path = "./logs/gin-mysqlbak.wf.log.%Y%M%D%H"
    [log.console_writer]        #工作台输出
        on = false
        color = false

[swagger]
    title="gin_scaffold swagger API"
    desc="This is a sample server celler server."
    host="127.0.0.1:8880"
    base_path=""

[redis]
    host="test.yunxue521.top:6379"
    password="chenteng"
    max_active = 100
    max_idle = 100
    down_grade = false

